<form class="form-horizontal" [formGroup]="form">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="nome" id="nome" placeholder="João das Neves">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label for="email" class="control-label">E-mail</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" name="email" id="email" placeholder="jon.snow@got.hbo">
    </div>
  </div>

</form>
